@charset 'utf-8';
@import url(common.css);

@media screen and (max-width: 480px) {

    /* 반응형에 따른 display 효과 */
    .mobile-exposure {
        display: block;
    }
    .mobile-hide {
        display: none;
    }

    /* 주 색상 변수 선언 */
    :root {
        --main-color: #F97904;
        --sub-color: #FF9922;
    
        --black-color: #222;
        --grey-color: #888;
        --grey-color2: #777;
        --grey-color3: #aaa;
        --contents-box-color: #F6F6F6;
    
        --top-btn-color: rgba(255, 192, 72, 0.5);
        --top-btn-hover-color: rgba(255, 192, 72, 0.8);
    }


    /*** ================================= Portfolio Site Contents ================================= ***/

    /* 최상단으로 가는 버튼 */
    .top-btn {
        width: 20vw;
        height: 20vw;
    }
    .top-btn:active {
        width: 19vw;
        height: 19vw;
    }

    .top-btn svg {
        width: 3.75vw;
        height: 5.4vw;
    }

    /* header =========== Start Line ====================================== */
    #header {
        width: 100%;
        height: 70px;
        position: fixed;
        z-index: 999;
    }

    #header .header-left .logo {
        font-family: 'GmarketSansBold';
        font-size: 20px;
    }

    #header .header-right {
        display: flex;
        align-items: center;
    }

    /* 헤더 시간 */
    #header .header-left .info {
        opacity: 0;
        transition: .1s;
    }

    /* 헤더 라이트모드 & 다크모드 버튼 */
    #header .light-dark-mode {
        display: block;
        width: 55px;
        height: 25px;
        border-radius: 35px;
        background-color: var(--sub-color);
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    #header .light-dark-mode .mode-btn {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        background-color: #fff;
        margin-left: 4px;
        position: relative;
        transition: .2s ease;
    }

    #header .menu-btn {
        margin-left: 25px;
    }
    /* header ======================================= End Line ========== */



    /* intro section =========== Start Line ====================================== */
    /* 라이트모드 & 다크모드 버튼 */
    #intro .light-dark-mode {
        top: -50vh;
    }

    /* 메인 title */
    #intro .center-title h1 {
        width: 250px;
        display: inline-block;
        font-size: 65px;
        line-height: 60px;
        letter-spacing: -1px;
        font-family: 'GmarketSansBold';
    }
    #intro .center-title h1 span {
        font-size: 55px;
        font-family: 'GmarketSansBold';
    }
    
    #intro .center-title .greeting-ment {
        font-size: 1rem;
        letter-spacing: -0.2px;
    }

    /* intro에 고정된 메인 도형 */
    #intro .signature-shape {
        position: absolute;
        top: 55vh;
        left: -37vw;
        width: 45vh;
        height: 45vh;
        animation: rotate-shape 20s linear infinite;
    }

    #intro .signature-shape .line {
        height: 1px;
    }
    /* intro section ======================================= End Line ========== */



    /* about section =========== Start Line ====================================== */
    #about {
        height: 100vh;
    }

    #about .about-scroll-option {
        align-items: normal;
    }

    #about .about-scroll-option > .swiper-wrapper {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }

    #about .about-scroll-option > .swiper-wrapper,
    #about .about-scroll-option > .swiper-wrapper > .swiper-slide {
        height: auto;
    }

    #about .about-container {
        width: 83vw;
        flex-direction: column;
        padding: 15vh 0;
    }

    #about .about-left {
        position: relative;
    }
    #about .about-left .title h2 {
        font-size: 7vw;
        font-weight: 500;
        letter-spacing: -2px;
    }
    #about .about-left .title p {
        font-size: 7vw;
        font-weight: 500;
    }

    #about .about-left .introduction {
        width: 100%;
        font-size: 4vw;
        letter-spacing: -0.5px;
        margin-top: 0.9vw;
    }

    #about .about-left .keywords {
        margin: 4vw 0 4vw;
    }
    #about .about-left .keywords p {
        font-size: 2.6vw;
        padding: 2.7vw 2.5vw 2.2vw;
    }
    #about .about-left .keywords p:not(:first-child) {
        margin-left: 1.7vw;
    }

    #about .about-left .swiper-navigation {
        position: absolute;
    }

    #about .about-left .title span {
        font-size: 3vw;
        margin-top: 1vw;
    }

    #about .about-right {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    #about .about-right .about-title, #about .about-right .about-contents  {
        width: 100%;
        height: 107vw;
        margin-top: 4.16vw;
    }
    #about .about-right .about-contents {
        margin-left: 0;
    }

    #about .about-right > .swiper-navigation {
        width: 25vw;
        height: 10vw;
    }
    #about .about-right > .swiper-navigation .navi-btn .page-number {
        font-size: 3.5vw;
        letter-spacing: -0.3vw;
    }

    /* about-1)info */

    #about .about-right .about-contents .content-1-info h3 {
        font-size: 6.25vw;
    }
    #about .about-right .about-contents .content-1-info p {
        font-size: 3.3vw;
        line-height: 5.2vw;
        margin-top: 6vw;
    }

    /* about-2)skill */

    #about .about-right .about-title .title-2-skill {
        padding-left: 8vw;
    }

    #about .about-right .about-title .title-2-skill h3 {
        font-size: 20.8vw;
        letter-spacing: -0.5vw;
    }

    #about .about-right .about-contents .content-2-skill h3 {
        font-size: 6.25vw;
    }

    #about .about-right .about-contents .content-2-skill .tool-skill {
        margin-top: 14.5vw;
    }

    #about .about-right .about-contents .content-2-skill .icon {
        height: 11.5vw;
        margin-top: 6.2vw;
    }
    #about .about-right .about-contents .content-2-skill .icon img:not(:last-child) {
        margin-right: 3.7vw;
    }

    /* about-3)aspirations */

    #about .about-right .about-title .title-3-aspi .title-3-container {
        margin-bottom: 12.08vw;
    }

    #about .about-right .about-title .title-3-aspi .if-title {
        font-size: 31.25vw;
        letter-spacing: -0.5vw;
        margin-left: -2vw;
    }

    #about .about-right .about-title .title-3-aspi .if-branch-text {
        font-size: 5.7vw;
        font-weight: 500;
        letter-spacing: -0.03vw;
    }

    #about .about-right .about-title .title-3-aspi .parentheses {
        font-size: 8.33vw;
        color: #9B9B9B;
        bottom: 31vw;
    }
    #about .about-right .about-title .title-3-aspi .parentheses .space {
        width: 60vw;
    }

    #about .about-right .about-title .title-3-aspi .brace {
        font-size: 8.33vw;
        bottom: 8.33vw;
        right: 8.33vw;
    }

    #about .about-right .about-contents .content-3-aspi .subtitle {
        font-size: 3.1vw;
        margin-bottom: 3.4vw;
    }
    #about .about-right .about-contents .content-3-aspi .content {
        font-size: 2.9vw;
        line-height: 4.6vw;
    }

    /* about-4)motto */

    #about .about-right .about-title .title-4-motto p {
        font-size: 11vw;
        letter-spacing: -0.15vw;
    }

    #about .about-right .about-contents .content-4-motto p {
        font-size: 2.9vw;
        line-height: 4.6vw;
    }
    /* about section ======================================= End Line ========== */



    /* project section =========== Start Line ====================================== */
    #project .signature-shape {
        position: absolute;
        top: 2.14vw;
        left: calc(50% - 26vw);
        z-index: 0;
        width: 52vw;
        height: 52vw;
        animation: rotate-shape 20s linear infinite;
        transition: .2s ease-in;
    }

    #project .project-contents {
        height: 110vh;
    }
    #project .project-contents.detail-size {
        height: 250vw;
    }

    #project .project-contents .project-list {
        justify-content: center;
        align-items: normal;
    }

    #project .project-contents .project-list nav {
        width: 100%;
        margin-top: 30vh;
        margin-bottom: 0;
    }

    #project .project-contents .project-list nav ul {
        justify-content: normal;
    }

    #project .project-contents .project-list nav .title {
        font-size: 6.25vw;
        height: 28.95vw;
        min-height: 4rem;
    }

    /* project detail part ** */

    #project .project-detail {
        margin-top: 35vh;
    }

    #project .project-detail .project-detail-container {
        width: 83vw;
    }

    #project .project-detail .detail-left {
        width: 100%;
        height: 91.8vw;
        justify-content: space-between;
    }

    #project .project-detail .detail-left .detail-left-container {
        justify-content: space-between;
    }

    #project .project-detail .detail-left .project-class {
        font-size: 3.75vw;
        margin-bottom: 1.2vw;
    }

    #project .project-detail .detail-left .title {
        font-size: 6.25vw;
        margin-bottom: 4.16vw;
    }

    #project .project-detail .detail-left .duration-contribution p {
        font-size: 2.5vw;
        padding: 2.7vw 2.5vw 2.2vw;
    }

    #project .project-detail .detail-left button {
        margin-right: 0;
        width: 10vw;
        height: 7.083vw;
    }

    #project .project-detail .detail-left button:hover {
        margin-left: -1vw;
    }

    #project .project-detail .detail-left > .detail-about {
        opacity: 1;
        width: 100%;
        height: 57vw;
        border-top: 1px dotted var(--sub-color);
        margin-top: 9.37vw;
        flex-direction: column;
    }

    #project .project-detail .detail-left > .detail-about h3 {
        font-size: 5.2vw;
        margin: 9.37vw 0 4.16vw;
    }

    #project .project-detail .detail-left > .detail-about p {
        font-size: 2.9vw;
        margin-bottom: 5.2vw;
    }

    #project .project-detail .detail-left > .detail-about .language-used {
        font-size: 2.08vw;
    }

    #project .project-detail .detail-left > .detail-about .language-used span {
        padding: 1.6vw 2.5vw 1.4vw;
        margin-bottom: 6.25vw;
    }

    .detail-about .detail-about-right-bottom .link,
    .detail-about .detail-about-right-bottom .link a {
        font-size: 3.33vw;
    }

    .detail-about .detail-about-right-bottom .link:last-child {
        margin-left: 3.125vw;
    }

    #project .project-detail .detail-right .detail-view {
        width: 100%;
        height: 42.5vw;
        margin-top: 6.25vw;
    }

    /* project section ======================================= End Line ========== */


    
    /* contact section =========== Start Line ====================================== */
    #contact .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact h2 {
        font-size: 9.79vw;
        letter-spacing: -0.2vw;
    }

    #contact p {
        font-size: 3.33vw;
        margin: 1.4vw 0 10vw;
    }

    #contact .chat-link {
        width: 27.9vw;
        height: 9.37vw;
    }
    
    #contact .chat-link span {
        font-size: 3.54vw;
    }
    
    #contact .chat-link svg {
        margin-left: 2.08vw;
    }

    #contact .bg-point {
        right: -75vw;
    }
    /* contact section ======================================= End Line ========== */
}
