@charset 'utf-8';

@import url(common.css); /* 공동 style */

#container {
    width: 100%;
    height: 100%;
}

/* header */
#header {
    width: 100%;
    height: 14.5vh; /* 140px */
    position: fixed;
    z-index: 999;
}
#header .header-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더 왼쪽 logo / info */
#header .header-left {
    display: flex;
    position: relative;
}
#header .header-left .logo {
    font-family: 'GmarketSansBold';
    font-size: 30px;
}
#header .header-left .info {
    position: absolute;
    top: 50%;
    left: 190%;
    transform: translate(0, -50%);
    width: 35vh;
    
    display: flex;
    align-items: center;
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 100;
}
#header .header-left .info span {
    margin: 0 1vw;
}

/* 헤더 시간 */
#header .time-check {
    font-size: 20px;
}

/* 헤더 메뉴 */
#header .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    cursor: pointer;
}
#header .menu-btn span {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #000;
}


#contents-swiper {
    width: 100%;
    height: 100vh;
}

#intro {
    background-color: bisque;
}

#about {
    background-color: aquamarine;
}

#project {
    background-color: coral;
}

#contact {
    background-color: thistle;
}