@charset 'utf-8';
@import url(common.css);

@media screen and (max-width: 1024px) {

    .PC-exposure {
        display: none;
    }
    .tablet-exposure {
        display: block;
    }

    /* 최상단으로 가는 버튼 */
    .top-btn {
        width: 9.76vw;
        height: 9.76vw;
    }
    .top-btn:active {
        width: 9vw;
        height: 9vw;
    }

    .top-btn svg {
        width: 1.75vw;
        height: 2.53vw;
    }

    /* 헤더 전화번호 / 이메일 */
    #header .header-left .info {
        position: absolute;
        top: 50%;
        left: 23vw;
        transform: translate(0, -50%);
        width: 20vh;
        line-height: 1rem;
        flex-wrap: wrap;
    }
    #header .header-left .info span {
        display: none;
    }

    /* 헤더 시간 */
    #header .time-check {
        display: none;
    }

    /* intro section =========== Start Line ====================================== */

    /* 라이트모드 & 다크모드 버튼 */
    #intro .light-dark-mode {
        top: 65vh;
        right: 10vw;
    }

    /* intro section ======================================= End Line ========== */

    /* about section =========== Start Line ====================================== */

    #about {
        height: 100vh;
    }

    #about .about-scroll-option > .swiper-wrapper {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }

    #about .about-scroll-option > .swiper-wrapper,
    #about .about-scroll-option > .swiper-wrapper > .swiper-slide {
        height: auto;
    }

    #about .about-container {
        width: 80vw;
        flex-direction: column;
        padding: 15vh 0;
    }

    #about .about-left {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 4vw;
    }

    #about .about-left .title {
        display: flex;
        align-items: flex-start;
        margin-top: 0;
    }
    #about .about-left .title h2 {
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: -2.5px;
    }
    #about .about-left .title p {
        font-size: 5vw;
        font-weight: 500;
    }

    #about .about-left .introduction {
        width: 100%;
        font-size: 2.5vw;
        letter-spacing: -0.5px;
        margin-top: 0.9vw;
    }

    #about .about-left .keywords {
        margin-top: 2vw;
    }
    #about .about-left .keywords p {
        font-size: 1.2vw;
        padding: 1.2vw 1.4vw 1.1vw;
    }
    #about .about-left .keywords p:not(:first-child) {
        margin-left: 1.2vw;
    }

    #about .swiper-navigation {
        width: 11vw;
        height: 4vw;
    }

    #about .swiper-navigation .navi-btn {
        margin-top: 1.5vw;
    }

    #about .swiper-navigation .navi-btn svg {
        width: 5vw !important;
    }

    #about .swiper-navigation .page-number {
        text-align: center;
        letter-spacing: -0.15vw;
        font-size: 1.5vw;
        font-weight: 400;
        color: #777;
    }

    #about .about-right .about-title, #about .about-right .about-contents  {
        width: 39vw;
        height: 50vw;
    }

    /* about-1)info */

    #about .about-right .about-contents .content-1-info h3 {
        font-size: 2.92vw;
    }
    #about .about-right .about-contents .content-1-info p {
        font-size: 1.5vw;
        line-height: 2.4vw;
        margin-top: 2.8vw;
    }

    /* about-2)skill */

    #about .about-right .about-title .title-2-skill {
        padding-left: 4vw;
    }

    #about .about-right .about-title .title-2-skill h3 {
        font-size: 9.76vw;
        letter-spacing: -0.25vw;
    }

    #about .about-right .about-contents .content-2-skill h3 {
        font-size: 2.92vw;
    }

    #about .about-right .about-contents .content-2-skill .tool-skill {
        margin-top: 6vw;
    }

    #about .about-right .about-contents .content-2-skill .icon {
        height: 4.9vw;
        margin-top: 2.8vw;
    }
    #about .about-right .about-contents .content-2-skill .icon img:not(:last-child) {
        margin-right: 1.9vw;
    }

    /* about-3)aspirations */

    #about .about-right .about-title .title-3-aspi .title-3-container {
        margin-bottom: 5.66vw;
    }

    #about .about-right .about-title .title-3-aspi .if-title {
        font-size: 14.64vw;
        letter-spacing: -0.35vw;
        margin-left: -0.5vw;
    }

    #about .about-right .about-title .title-3-aspi .if-branch-text {
        font-size: 2.75vw;
        font-weight: 500;
        letter-spacing: -0.03vw;
    }

    #about .about-right .about-title .title-3-aspi .parentheses {
        font-size: 3.9vw;
        color: #9B9B9B;
        bottom: 14.6vw;
    }
    #about .about-right .about-title .title-3-aspi .parentheses .space {
        width: 29vw;
    }

    #about .about-right .about-title .title-3-aspi .brace {
        font-size: 3.9vw;
        bottom: 3.9vw;
        right: 3.9vw;
    }

    #about .about-right .about-contents .content-3-aspi .subtitle {
        font-size: 1.6vw;
        margin-bottom: 3.4vw;
    }
    #about .about-right .about-contents .content-3-aspi .content {
        font-size: 1.4vw;
        line-height: 2.4vw;
    }

    /* about-4)motto */

    #about .about-right .about-title .title-4-motto p {
        font-size: 5.1vw;
        letter-spacing: -0.1vw;
    }

    #about .about-right .about-contents .content-4-motto p {
        font-size: 1.4vw;
        line-height: 2.4vw;
    }
    /* about section ======================================= End Line ========== */
    
    
    /* project section =========== Start Line ====================================== */
    #project .signature-shape {
        position: absolute;
        top: 2.14vw;
        left: 9.76vw;
        z-index: 0;
        width: 30vh;
        height: 30vh;
        animation: rotate-shape 20s linear infinite;
        transition: .2s ease-in;
    }
    /* project section ======================================= End Line ========== */

    /* contact section =========== Start Line ====================================== */

    #contact h2 {
        font-size: 6.83vw;
    }

    #contact p {
        font-size: 1.95vw;
        margin: 1.2vw 0 5.2vw;
    }

    #contact .chat-link {
        width: 13.1vw;
        height: 4.39vw;
    }
    
    #contact .chat-link span {
        font-size: 1.66vw;
    }
    
    #contact .chat-link svg {
        margin-left: 0.9vw;
    }

    /* contact section ======================================= End Line ========== */
}