@charset 'utf-8';
@import url(common.css); /* 공동 style */

@keyframes rotate-shape{
    100% {
        transform: rotate(360deg);
    }
}

.tablet-exposure, .mobile-exposure {
    display: none;
}

#container {
    width: 100%;
    height: 100%;
}

/* header */
#header {
    width: 100%;
    height: 14.5vh; /* 140px */
    position: fixed;
    z-index: 999;
}
#header .header-container {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더 왼쪽 logo / info */
#header .header-left {
    display: flex;
    position: relative;
}
#header .header-left .logo {
    font-family: 'GmarketSansBold';
    font-size: 30px;
}
#header .header-left .info {
    position: absolute;
    top: 50%;
    left: 12vw;
    transform: translate(0, -50%);
    width: 20vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #A8A8A8;
    font-size: 0.7rem;
    font-family: 'GmarketSansLight';
}
#header .header-left .info span {
    margin: 0 1vw;
}

/* 헤더 시간 */
#header .time-check {
    font-size: 20px;
}

/* 헤더 라이트모드 & 다크모드 버튼 */
#header .light-dark-mode {
    display: none;
}

/* 헤더 메뉴 */
#header .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 15px;
    cursor: pointer;
    margin-left: 72.56px;
}
#header .menu-btn span {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #000;
}


#contents-swiper {
    width: 100%;
    height: 100vh;
}

/* 화면 하단에 고정되는 footer */
#footer-fixed {
    position: fixed;
    left: 5vw;
    bottom: 7vh;
    z-index: 999;
}

#footer-fixed .github-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url('./style-assets/images/github.png');
    margin-bottom: 3vh;
    opacity: .4;
}

#footer-fixed p {
    font-size: 13px;
    font-family: 'Pretendard-Light';
    letter-spacing: 0.5px;
    color: #888;
}

/* intro section */
#intro {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#intro .center-title {
    z-index: 1;
}

#intro .center-title h1 {
    width: 250px;
    display: inline-block;
    font-size: 85px;
    line-height: 80px;
    letter-spacing: -1px;
    font-family: 'GmarketSansBold';
}
#intro .center-title h1 span {
    font-size: 70px;
    font-family: 'GmarketSansBold';
}

#intro .center-title .greeting-ment {
    font-size: 1.2rem;
    letter-spacing: -0.2px;
}

/* 라이트모드 & 다크모드 버튼 */
#intro .light-dark-mode {
    position: absolute;
    top: 60.5vh;
    right: 16vw;
    width: 35px;
    height: 90px;
    border-radius: 35px;
    background-color: #FF9922;
    display: flex;
    justify-content: center;
    transition: 1s ease;
}
#intro .light-dark-mode .mode-btn {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #fff;
    margin-top: 5px;
    position: relative;
}
#intro .light-dark-mode .mode-btn::before {
    content: '';
    border-left: 1px solid #D9D9D9;
    position: absolute;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
}

/* intro에 고정된 메인 도형 */
.signature-shape {
    position: absolute;
    top: 50vh;
    left: -15vh;
    z-index: 0;
    width: 60vh;
    height: 60vh;
    animation: rotate-shape 20s linear infinite;
    transition: .2s ease-in;
}
.signature-shape .line {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1.5px;
    background-color: #FF9922;
    transform-origin: center;
}
.signature-shape .line-1 {
    transform: rotate(90deg);
}
.signature-shape .line-2 {
    transform: rotate(105deg);
}
.signature-shape .line-3 {
    transform: rotate(120deg);
}
.signature-shape .line-4 {
    transform: rotate(135deg);
}
.signature-shape .line-5 {
    transform: rotate(150deg);
}
.signature-shape .line-6 {
    transform: rotate(165deg);
}
.signature-shape .line-7 {
    height: 2px;
    transform: rotate(0deg);
}
.signature-shape .line-8 {
    transform: rotate(-165deg);
}
.signature-shape .line-9 {
    transform: rotate(-150deg);
}
.signature-shape .line-10 {
    transform: rotate(-135deg);
}
.signature-shape .line-11 {
    transform: rotate(-120deg);
}
.signature-shape .line-12 {
    transform: rotate(-105deg);
}


#about {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

#about .about-container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
}


#about .about-left .title {
    display: flex;
    align-items: flex-start;
    margin-top: -13px;
}
#about .about-left .title h2 {
    font-size: 2.65vw;
    font-weight: 500;
    letter-spacing: -2px;
}
#about .about-left .title p {
    font-size: 2.65vw;
    font-weight: 500;
}

#about .about-left .introduction {
    width: 18vw;
    font-size: 1.3vw;
    letter-spacing: -0.5px;
    margin-top: 20px;
}

#about .about-left .keywords {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    font-family: 'GmarketSansLight';
    font-weight: 700;
    margin-top: 30px;
}
#about .about-left .keywords p {
    font-size: 0.6vw;
    line-height: 0.6vw;
    border: 1px solid #F97904;
    padding: 0.4vw 0.6vw 0.3vw;
    border-radius: 100px;
    color: #F97904;
}
#about .about-left .keywords p:not(:first-child) {
    margin-left: 0.6vw;
}

#about .about-left .swiper-navigation {
    width: 6vw;
    height: 2vw;
}
#about .about-left .swiper-navigation .navi-btn {
    width: 100%;
    height: 100%;

    margin-top: 2.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#about .about-right {
    display: flex;
}

#about .about-right .about-title, #about .about-right .about-contents  {
    width: 22vw;
    height: 29vw;
    /* width: 430px;
    height: 555px; */
    border-radius: 10px;
    background-color: #eee;
}

#about .about-right .about-contents {
    margin-left: 1.3rem;
}

#project {
    background-color: coral;
}

#contact {
    background-color: thistle;
}