@charset 'utf-8';
@import url(common.css);

@media screen and (max-width: 480px) {

    #about {
        height: auto !important;
    }

    .mobile-exposure {
        display: block;
    }

    /* 헤더 시간 */
    #header .header-left .info {
        opacity: 0;
        transition: .1s;
    }

    /* 헤더 라이트모드 & 다크모드 버튼 */
    #header .light-dark-mode {
        display: block;
        width: 55px;
        height: 25px;
        border-radius: 35px;
        background-color: #FF9922;
        display: flex;
        align-items: center;
    }
    #header .light-dark-mode .mode-btn {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        background-color: #fff;
        margin-left: 4px;
        position: relative;
    }

    #header .menu-btn {
        margin-left: 25px;
    }

    /* intro section */

    /* 라이트모드 & 다크모드 버튼 */
    #intro .light-dark-mode {
        top: -50vh;
    }

    /* 메인 title */
    #intro .center-title h1 {
        width: 250px;
        display: inline-block;
        font-size: 65px;
        line-height: 60px;
        letter-spacing: -1px;
        font-family: 'GmarketSansBold';
    }
    #intro .center-title h1 span {
        font-size: 55px;
        font-family: 'GmarketSansBold';
    }
    
    #intro .center-title .greeting-ment {
        font-size: 1rem;
        letter-spacing: -0.2px;
    }

    /* intro에 고정된 메인 도형 */
    .signature-shape {
        position: absolute;
        bottom: 0;
        left: -37vw;
        width: 50vh;
        height: 50vh;
        animation: rotate-shape 20s linear infinite;
    }

    /* about section */

    #about .about-container {
        width: 83vw;
        flex-direction: column;
        padding: 15vh 0;
    }

    #about .about-left {
        position: relative;
    }
    #about .about-left .title h2 {
        font-size: 7vw;
        font-weight: 500;
        letter-spacing: -2px;
    }
    #about .about-left .title p {
        font-size: 7vw;
        font-weight: 500;
    }

    #about .about-left .introduction {
        width: 100%;
        font-size: 4vw;
        letter-spacing: -0.5px;
        margin-top: 0.9vw;
    }

    #about .about-left .keywords {
        margin: 4vw 0 4vw;
    }
    #about .about-left .keywords p {
        font-size: 2.6vw;
        padding: 2.7vw 2.5vw 2.2vw;
    }
    #about .about-left .keywords p:not(:first-child) {
        margin-left: 1.7vw;
    }

    #about .about-left .swiper-navigation {
        position: absolute;
        /* right: 0; */
        /* bottom: -1020%; */
    }

    #about .about-right {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    #about .about-right .about-title, #about .about-right .about-contents  {
        width: 100%;
        height: 107vw;
    }
    #about .about-right .about-contents {
        margin-left: 0;
    }

}
